@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&family=Playfair+Display&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
button,
.navbar-links {
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

a {
  transition: 150ms;
}

a:not(.custom):hover {
  transform: translateY(-2px);
}

input:not(.custom) {
  @apply p-4 w-full shadow-sm;
}

p,
a,
label,
input:not(.custom) {
  font-family: "Inter Tight", sans-serif;
}

@media (min-width: 1000px) {
  .nav-logo {
    @apply absolute custom left-1/2 -translate-x-1/2 top-4;
  }
}

.nav-logo {
  justify-self: self-start;
}

.background-hero {
  background-image: linear-gradient(
      to bottom left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/images/background-hero.jpg");
  background-position: center center;
  background-size: cover;
}

.background-newsletter {
  background-image: linear-gradient(
      to bottom left,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("/images/cookies.jpg");
  background-position: center 60%;
  background-size: cover;
}

.background-auth {
  background-image: linear-gradient(
      to bottom left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/images/background-hero.jpg");
  background-position: center center;
  background-size: cover;
}
